body{
    background-color: rgba(21, 54, 243, 0.473);
    color: rgb(50, 48, 54);
    font-size: 25px;
    letter-spacing: 2px;

    }
/* I trimmed my profile pic and centered it */
.profile-pic{
  
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 400px;
    float:center;
    border-radius: 50%;
    }
/* these the buttons on the cybersecurity column */
    .b1, .b2, .b3{
      background-color: rgba(51, 187, 228, 0.651);
      width:100px;
      height: 50px;
    
    }
    /* under the div content for the three pictures that will be shown when clicked */
    .content {
      float:left;
      width: 900px;
      height: 900px;
    }
    
    /* I set the pictures to hidden initially on the cybersecurity column */
    #cyber, #nmap, #onion {
      display: none;
    }
    
    /* this is the css animation portion, this is the first picture */
  .secondpic{
    width: 100px;
    height: 100px;
    position: relative;
    animation-duration: 300s;
    animation-delay: 5s;
    animation: myfirst 5s linear 2s infinite alternate;
  }

  @keyframes myfirst {
    from { transform : translateX(0) }
    17%  { transform : translateX(0%) }
    20%  { transform : translateX(20%) }
    37%  { transform : translateX(20%) }
    40%  { transform : translateX(40%) }
    57%  { transform : translateX(40%) }
    60%  { transform : translateX(60%) }
    77%  { transform : translateX(60%) }
    80%  { transform : translateX(80%) }
    97%  { transform : translateX(80%) }
    to   { transform : translateX(0%) }
  }
  /* this is the css animation portion, this is the second picture */
  .gympic{
    width: 100px;
    height: 100px;
    position: relative;
    animation-duration: 300s;
    animation-delay: 5s;
    animation: mysecond 5s linear 2s infinite alternate;
  }
  /* I made the keyframes going the opposite position from the first picture to mirror*/
  @keyframes mysecond {
    from { transform : translateX(0) }
    17%  { transform : translateX(0%) }
    20%  { transform : translateX(-20%) }
    37%  { transform : translateX(-20%) }
    40%  { transform : translateX(-40%) }
    57%  { transform : translateX(-40%) }
    60%  { transform : translateX(-60%) }
    77%  { transform : translateX(-60%) }
    80%  { transform : translateX(-80%) }
    97%  { transform : translateX(-80%) }
    to   { transform : translateX(0%) }
  }
  .squat{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 400px;
    float:center;
    border-radius: 50%;
  }
  .awards{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 400px;
    float:center;
    border-radius: 50%;
  }
  /* On the profile name when hover, on "This is Michael Soto" it was strench out (just for fun) */
  .profile-name{
    width: 200px;
    height: 100px;
    font-size: 42px;
    transition: width 1s;
  }
  .profile-name:hover{
    width: 600px;
  }
  /* this portion is for my form for comments below */
input[type=text], select, textarea {
    width: 50%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: auto;
    
  }
  
  input[type=submit] {
    background-color: #007bb5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex
  }
  
  input[type=submit]:hover {
    background-color: #007bb5;
  }
  /* this is for my instagram and linkedin icons when hovered over it would highlight */
.fa:hover{
    opacity: 0.1;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    text-decoration: aqua;
}
.fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
/* Created three columns that floats next to each other */
.column {
    float:left;
    justify-content: space-between;
    margin-right: 40px;
  
  }
  .row {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    flex-basis: 32%;
  }

  /* media queries below */

  /* tablet media query first*/
  @media screen and (max-width:900px){
    body{
      background-color: rgba(243, 21, 32, 0.473);
      color: rgb(50, 48, 54);
      font-size: 15px;
      letter-spacing: 1px;
  
    }
      .row {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        flex-basis: 32%;

  }
  .squat{
    display:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 70px;
    float:center;
  }
  .awards{
    display:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 70px;
    float:center;
  }
  .profile-pic{
  
    display:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 150px;
    float:center;
    }

    .profile-name{
      width: 100px;
      height: 50px;
      font-size: 21px;
      transition: width 1s;
    }
    .profile-name:hover{
      width: 300px;
    }
  /* under the div content for the three pictures that will be shown when clicked(tablet view) */
  .content {
    width:550px;
    height:auto;
  }
   /* I set the pictures to hidden initially on the cybersecurity column(tablet view) */
   #cyber, #nmap, #onion {
    display:none;
    float: left;
    max-width: 50px;
  }

  }
/* desktop media query */

@media screen and (min-width:900px) and (max-width:1600px){
  body{
    background-color: rgba(21, 54, 243, 0.473);
    color: rgb(50, 48, 54);
    font-size: 25px;
    letter-spacing: 2px;

  }
  .column {
    float:left;
    justify-content: space-between;
    margin-right: 40px;
  
  }
  .row {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    flex-basis: 32%;
  }
.squat{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 70px;
  float:center;
}
.awards{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 70px;
  float:center;
}
.profile-pic{

  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 150px;
  float:center;
  }

  .profile-name{
    width: 200px;
    height: 100px;
    font-size: 42px;
    transition: width 1s;
  }
  .profile-name:hover{
    width: 600px;
  }
}